@model ReversiBackEnd.Models.Player
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<a asp-action="Register">Registreren</a>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InputName" class="control-label">Naam of email</label>
                <input asp-for="InputName" class="form-control" />
                <span asp-validation-for="InputName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Inloggen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@Html.ValidationMessage("IncorectLogin")


